pandas
numpy
awscli
urllib3
tqdm
opencv-python
scipy
filterpy==1.4.1
numba==0.38.1
scikit-image==0.14.0
scikit-learn==0.19.1
tensorboard==1.14.0
tensorflow==2.5.0
tensorflow-estimator==1.14.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
